@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* resources/css/filament-theme.css */
.filament-sidebar {
  background: #0b1220 !important;
}
.filament-sidebar a {
  color: #cbd5e1 !important;
}
.filament-topbar {
  background: linear-gradient(90deg,#0f172a,#0b1220) !important;
}
